input[type='submit'] {
  float: left;
  clear: both;
  border: 1px solid $blue;
  color: $black;
  border-radius: 3px;
  padding: 10px;
  background: $blue;
  width: 25%;
  margin: 0 auto;
  margin-top:40px;
  font-weight: 300;
}