{{#if user}}
 <head>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
        <style>
            /* tell the SVG path to be a thin blue line without any area fill */
            path {
                stroke: steelblue;
                stroke-width: 1;
                fill: none;
            }

            .axis {
                shape-rendering: crispEdges;
            }

            .x.axis line {
                stroke: lightgrey;
            }

            .x.axis .minor {
                stroke-opacity: .5;
            }

            .x.axis path {
                display: none;
            }

            .y.axis line, .y.axis path {
                fill: none;
                stroke: #000;
            }
        </style>
    </head>
    <div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left; margin-top:100px;"></div>
<p id="graphScore">{{score}}</p>
 <script src="/javascripts/graph.js"></script>
{{else}}
    <p>
        <a href="/auth/twitter">Login</a>
    </p>
    {{/if}}