<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<main class="main">
    {{#if user}}
        <p>
            hello, {{user.displayName}}
        </p>
        <a href="/new">write something</a>
        <a href="/graph">mood graph</a>
        <a href="/logout">logout</a>
        <form action="/delete" method="post">
            <input type="submit" value="delete account"/>
        </form>
    {{else}}
        <p>
            <a href="/auth/twitter">login</a>
        </p>
    {{/if}}
    {{{body}}}
</main>
</body>
</html>
