<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      {{#if user}}
          <p>
              Hello, {{user.displayName}}
              |
              <a href="/new">go write something!</a>
              <a href="/graph">show graph!</a>
              <a href="/logout">Logout</a>
          </p>
          <form action="/delete" method="post">
              <input type="submit" value="delete"/>
          </form>
      {{else}}
          <p>
              <a href="/auth/twitter">Login</a>
          </p>
      {{/if}}
    {{{body}}}
  </body>
</html>
