{{#if user}}
<form action="/new" method="post">
    <textarea name='entry' id='entry' placeholder="how's it going?"></textarea>
    <input type="submit" value="submit"/>
</form>
{{else}}
    <p>
        <a href="/auth/twitter">login</a>
    </p>
{{/if}}